@import "/src/assets/scss/index.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  width: 50%;
  height: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .registration-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .field-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }
  }
}

@include responsive(lg) {
  .registration-container {
    width: 80%;
  }
}
