<div class="registration-container mat-elevation-z2">
  <h1>Registro de servicios</h1>
  <form class="registration-form" #formDirective="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(formDirective)">
    <div class="field-group">
      <!-- technicianId -->
      <mat-form-field class="form_field_input" appearance="outline">
        <mat-label>Identificación del técnico</mat-label>
        <input
          type="text"
          name="technicianId"
          matInput
          formControlName="technicianId"
          #inputtechnicianId
          [maxLength]="50"
        />
        <mat-error *ngIf="fieldNotValid('technicianId')">
          La identificación del técnico es obligatoria
        </mat-error>
      </mat-form-field>
      <!-- serviceId -->
      <mat-form-field class="form_field_input" appearance="outline">
        <mat-label>Identificación del servicio</mat-label>
        <input
          type="text"
          name="serviceId"
          matInput
          formControlName="serviceId"
          #inputserviceId
          [maxLength]="50"
        />
        <mat-error *ngIf="fieldNotValid('serviceId')">
          La identificación del servicio es obligatoria
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-group">
      <!-- startDate -->
      <mat-form-field appearance="fill">
        <mat-label>Fecha inicio servicio</mat-label>
        <input
          matInput
          name="startDate"
          [matDatepicker]="pickerStartDate"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerStartDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </mat-form-field>
      <!-- startTime -->
      <mat-form-field appearance="fill">
        <input
          matInput
          name="startTime"
          placeholder="Hora inicio"
          aria-label="24hr format"
          [ngxTimepicker]="startTime"
          [format]="24"
          readonly
          formControlName="startTime"
        />
        <ngx-material-timepicker #startTime></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div class="field-group">
      <!-- endDate -->
      <mat-form-field appearance="fill">
        <mat-label>Fecha fin servicio</mat-label>
        <input
          matInput
          name="endDate"
          [matDatepicker]="pickerEndDate"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEndDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
      <!-- endTime -->
      <mat-form-field appearance="fill">
        <input
          matInput
          name="endTime"
          placeholder="Hora fin"
          aria-label="24hr format"
          [ngxTimepicker]="endTime"
          [format]="24"
          readonly
          formControlName="endTime"
        />
        <ngx-material-timepicker #endTime></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <!-- Action button -->
    <div class="form_buttons">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="form-button"
        mat-button
      >
        Registrar
      </button>
    </div>
  </form>
</div>
