<table
  class="data-table"
  mat-table
  name="dataTable"
  [dataSource]="dataSource"
  matSort
  [class.data-table_hidden]="isDataEmpty()"
>
  <!-- Hour concept -->
  <ng-container matColumnDef="hourConcept">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Concepto</th>
    <td mat-cell *matCellDef="let row">{{ row.hourConcept }}</td>
  </ng-container>

  <!-- Hours number -->
  <ng-container matColumnDef="hoursNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de horas</th>
    <td mat-cell *matCellDef="let row">{{ row.hoursNumber }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
