@import "/src/assets/scss/index.scss";
:host {
  display: flex;
  justify-content: center;

  &::ng-deep {
    tr.mat-header-row {
      background-color: $primary;
    }
  }
}

.data-table {  
  width: 100%;
  margin-top: 1.25rem;
  th{
    color: white;
  }
  &_hidden{
    visibility: hidden;
  }
}
