@import "/src/assets/scss/index.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inquiry {
  &-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .btn-submit {
      padding-bottom: 1.34375em;
      margin: 0.25em 0 0.25em 1rem;
    }
  }
}

@include responsive(lg) {
  .inquiry {
    &-form {      
      flex-direction: column;      
    }
  }
}