<h1>Calculadora de horas</h1>
<form class="inquiry-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- technicianId -->
  <mat-form-field class="form_field_input" appearance="outline">
    <mat-label>Identificación del técnico</mat-label>
    <input
      type="text"
      name="technicianId"
      matInput
      formControlName="technicianId"
      #inputtechnicianId
      [maxLength]="50"
    />
    <mat-error *ngIf="fieldNotValid('technicianId')">
      La identificación del técnico es obligatoria
    </mat-error>
  </mat-form-field>
  <!-- weekNumber -->
  <mat-form-field class="form_field_input" appearance="outline">
    <mat-label>Número de la semana</mat-label>
    <input
      type="text"
      name="weekNumber"
      matInput
      formControlName="weekNumber"
      #inputweekNumber
      [maxLength]="50"
      appNumbersOnly
    />
    <mat-error *ngIf="fieldNotValid('weekNumber')">
      El número de la semana es obligatorio
    </mat-error>
  </mat-form-field>

  <div class="btn-submit">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="form-button"
      mat-button
    >
      Consultar
    </button>
  </div>
</form>
