@import "/src/assets/scss/index.scss";

:host {
  display: flex;
  justify-content: center;

  @include responsive(lg) {
    .hours-calculator-container {
      width: 100%;
      padding: 0.625rem;
    }

    ::ng-deep {
      .mat-form-field {
        width: 80%;
      }
    }
  }
}

.hours-calculator-container {
  width: 60%;
  padding: 2rem;
}
