<div class="layout-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="layout-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/img/ias-logo.jpeg" alt="IAS HandyMan" class="logo" />
    <h1 class="app-name">HandyMan</h1>
  </mat-toolbar>
  <mat-sidenav-container class="layout-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="nav.path"
          [routerLinkActive]="['active']"
          *ngFor="let nav of fillerNav"
        >
          <mat-icon>{{ nav.icon }}</mat-icon> {{ nav.label }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <div class="main">
          <div class="container">
            <ng-content></ng-content>
          </div>
        </div>
        <div class="footer">&copy; 2021 IAS software - Daniel Burbano</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
