@import "/src/assets/scss/index.scss";

.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-is-mobile .layout-toolbar {
  position: fixed;
  z-index: 2;
}

.layout-sidenav-container {
  flex: 1;
}

.layout-is-mobile .layout-sidenav-container {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.footer {
  background-color: $primary;
  padding: 1rem;
  color: $font-light;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: $primary;
}

.mat-drawer.mat-drawer-side {
  background-color: #f7f4f0;
}

.logo {
  width: 2rem;
  padding-left: 1rem;
}

.container {
  padding: 3rem;
}

.app-name {
  padding-left: 0.625rem;
}

.mat-drawer-container {
  color: $font-dark;
}

@include responsive(md) {
  .container {
    padding: 0.625rem;
  }
}
